In [2]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle


enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [19]:
import pandas

len(enron_data)
# print enron_data
df=pandas.DataFrame(enron_data)
# print (df)
df.head()
df

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN
exercised_stock_options,1729541,257817,4046157,6680544,NaN,1599641,NaN,953136,3285,1624396,...,1668260,NaN,98718,3282960,1297049,NaN,NaN,139130,8308552,192758
expenses,13868,3486,56301,11200,129142,NaN,37172,17355,NaN,11892,...,NaN,51870,NaN,57838,81353,1413,NaN,NaN,53947,55097
from_messages,2195,NaN,29,NaN,NaN,NaN,4343,484,NaN,NaN,...,30,NaN,NaN,556,NaN,NaN,NaN,NaN,NaN,NaN
from_poi_to_this_person,47,NaN,39,NaN,NaN,NaN,144,228,NaN,NaN,...,22,NaN,NaN,186,NaN,NaN,NaN,NaN,NaN,NaN
from_this_person_to_poi,65,NaN,0,NaN,NaN,NaN,386,108,NaN,NaN,...,7,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN
loan_advances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
long_term_incentive,304805,NaN,NaN,1586055,NaN,93750,NaN,NaN,NaN,NaN,...,200000,256191,NaN,808346,NaN,NaN,NaN,NaN,NaN,NaN
other,152,NaN,864523,2660303,69,874,566,210698,NaN,NaN,...,1425,401130,NaN,301026,1085463,NaN,189583,NaN,147950,NaN
poi,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
restricted_stock,126027,NaN,1757552,3942714,145796,NaN,126027,157569,NaN,869220,...,388167,384930,NaN,2796177,13847074,NaN,NaN,NaN,3576206,NaN
restricted_stock_deferred,-126027,NaN,-560222,NaN,-82782,NaN,NaN,NaN,44093,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary,201955,NaN,477,267102,239671,80818,231330,213999,NaN,216582,...,259996,63744,NaN,510364,317543,NaN,NaN,NaN,158403,NaN
shared_receipt_with_poi,1407,NaN,465,NaN,NaN,NaN,2639,5521,NaN,NaN,...,337,NaN,NaN,3920,NaN,NaN,NaN,NaN,NaN,NaN
to_messages,2902,NaN,566,NaN,NaN,NaN,7315,7991,NaN,NaN,...,400,NaN,NaN,6019,NaN,NaN,NaN,NaN,NaN,NaN
total_payments,4484442,182466,916197,5634343,827696,860136,969068,5501630,102500,228474,...,1034395,762135,NaN,4677574,1934359,84992,189583,NaN,360300,55097
total_stock_value,1729541,257817,5243487,10623258,63014,1599641,126027,1110705,-44093,2493616,...,2056427,384930,98718,6079137,15144123,NaN,NaN,139130,11884758,192758

In [29]:
c=[df.loc["exercised_stock_options"][]]
print max(c)
print min(c)

257817
257817

In [4]:
c=0
for feature in df:
    if df[feature]['poi']==1:
        c+=1
print c

18

In [5]:
enron_poi = open("../final_project/poi_names.txt", "r")
lines = enron_poi.readlines()
print lines
len(lines)

# dp=pandas.DataFrame(enron_poi)
# dp.head()

['http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm\n', '\n', '(y) Lay, Kenneth\n', '(y) Skilling, Jeffrey\n', '(n) Howard, Kevin\n', '(n) Krautz, Michael\n', '(n) Yeager, Scott\n', '(n) Hirko, Joseph\n', '(n) Shelby, Rex\n', '(n) Bermingham, David\n', '(n) Darby, Giles\n', '(n) Mulgrew, Gary\n', '(n) Bayley, Daniel\n', '(n) Brown, James\n', '(n) Furst, Robert\n', '(n) Fuhs, William\n', '(n) Causey, Richard\n', '(n) Calger, Christopher\n', '(n) DeSpain, Timothy\n', '(n) Hannon, Kevin\n', '(n) Koenig, Mark\n', '(y) Forney, John\n', '(n) Rice, Kenneth\n', '(n) Rieker, Paula\n', '(n) Fastow, Lea\n', '(n) Fastow, Andrew\n', '(y) Delainey, David\n', '(n) Glisan, Ben\n', '(n) Richter, Jeffrey\n', '(n) Lawyer, Larry\n', '(n) Belden, Timothy\n', '(n) Kopper, Michael\n', '(n) Duncan, David\n', '(n) Bowen, Raymond\n', '(n) Colwell, Wesley\n', '(n) Boyle, Dan\n', '(n) Loehr, Christopher\n']

37

In [6]:
list(df)
df["PRENTICE JAMES"]["total_stock_value"]

1095040

In [7]:
df["COLWELL WESLEY"]["from_this_person_to_poi"]

11

In [8]:
list(df)
df["SKILLING JEFFREY K"]["exercised_stock_options"]

19250000

In [9]:
print df["SKILLING JEFFREY K"]["total_payments"]
print df["LAY KENNETH L"]["total_payments"]
print df["FASTOW ANDREW S"]["total_payments"]

8682716
103559793
2424083

In [10]:
c=0
for feature in df:
    if df[feature]['salary'] != 'NaN':
        c+=1
print c

e=0
for feature in df:
    if df[feature]['email_address'] != 'NaN':
        e+=1
print e

95
111

In [11]:
t=0
for feature in df:
    if df[feature]['total_payments'] == 'NaN':
        t+=1
print t

t/146.0 * 100

21

14.383561643835616

In [30]:
p=0
pt=0
for feature in df:
    if df[feature]['poi'] == True:
        p+=1
        if df[feature]['total_payments'] == 'NaN':
            pt+=1
print p
print pt

18
0

In [13]:
pl=list(df)

In [14]:
enron_poi = open("../final_project/poi_names.txt", "r")
lines = enron_poi.readlines()


for index in range(len(lines)):
    if lines[index].find('(y)') != -1:
        print lines[index]

(y) Lay, Kenneth

(y) Skilling, Jeffrey

(y) Forney, John

(y) Delainey, David

In [15]:
#'LAY KENNETH L',  'FUGH JOHN L', 'SKILLING JEFFREY K','DELAINEY DAVID W'

print df["SKILLING JEFFREY K"]["total_payments"]
print df["LAY KENNETH L"]["total_payments"]
print df["FASTOW ANDREW S"]["total_payments"]

8682716
103559793
2424083

In [40]:
import pandas

len(enron_data)
# print enron_data
df=pandas.DataFrame(enron_data)
# print (df)
df.head()

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN

In [48]:
c=[]
for feature in df:
    if df[feature]['salary'] != "NaN":
        c.append(df[feature]['salary'])

print max(c)
print min(c)

26704229
477

In [45]:
data_dict = pickle.load( open("../final_project/final_project_dataset.pkl", "r") )

In [44]:
e=[]
e.append([i["exercised_stock_options"] for i in data_dict_with_outlier.iterkeys() if not i["exercised_stock_options"] == "NaN"])

TypeError: string indices must be integers, not str

In [47]:
exercised_stock_options = [item["exercised_stock_options"] for k, item in data_dict.iteritems() if not item["exercised_stock_options"] == "NaN"]                                                                                                                                
print "min is %s" % min(exercised_stock_options)
print "max is %s" % max(exercised_stock_options)

min is 3285
max is 311764000